@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* ========= !universal css ========= */

body {
  scroll-behavior: smooth;
  background-color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::selection {
  background-color: #dbb42c;
  color: #fff;
}

/* ========= !universal css ========= */

/* ========= custom scrollbar ========= */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #dbb42c;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background: #f1f1f1;
}

/* ========= !custom scrollbar ========= */

/* ========= animation keyframe ========= */

@keyframes slide-left-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ========= !animation keyframe ========= */
